<h1>You've been declined.</h1>
<p>Hello {{name}},</p>

<p>
Unfortunately you have not been selected to participate in {{event.orgEventName}} on {{event.date|date("m/d/Y",false)}} at {{event.date|date("H:i:s")}}.
Please feel free to register for any of our future events if you are still interested in participating.
</p>

<p>
Regards,<br>
The LICCB Team
</p>