{% extends 'base.html.twig' %}

{% block body %}

	<h1>Permission Matrix</h1>
	{{ form_start(form) }}

	{% for permission in form.permissions %}
		{{ form_row(permission.rolesFromArray, {'label': permission.vars.value.name}) }}

	{% endfor %}
	{{ form_end(form) }}

{% endblock %}